<!DOCTYPE html>
<html ng-app="InstaSearch">
<head>
  <meta charset="UTF-8">
  <title>InstaSearch</title>
  <link rel="stylesheet" href="styles/bootstrap.css" />
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body ng-controller="InstagramController">
  <div class="container" ng-cloak>
    <header>
      <h1>InstaSearch!</h1>
    </header>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <form class="form-horizontal" role="form" name="searchForm" novalidate ng-submit="search()">
          <div class="form-group" ng-class="{'has-error': searchForm.searchField.$dirty && searchForm.searchField.$invalid}">
            <div class="input-group">
              <div class="input-group-addon">#</div>
              <input name="searchField" type="text" class="form-control"
                     ng-model="searchField" required ng-pattern="/^[\w-_]+$/"
                     placeholder="Hashtag and enter!">
            </div>
            <p ng-show="searchForm.searchField.$dirty && searchForm.searchField.$invalid" 
               class="error-message">Please enter only alphanumeric characters.</p> 
          </div>
        </form>
      </div>
    </div>
        
    <div class="row">
      <div class="col-md-4 col-xs-6 thumb" ng-repeat="item in images">
        <div class="thumbnail">
          <a ng-href="{{item.link}}">
          <img class="img-responsive" ng-src="{{ item.images.low_resolution.url }}" alt="{{ item.caption.text | limitTo:letterLimit }}">
          </a>
         <p><img class="profile_pic" ng-src="{{ item.user.profile_picture }}"> {{ item.user.username }}</p>
         <p>{{ item.caption.text | limitTo:letterLimit }}</p>
        </div>
      </div>
    </div>
  </div>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://code.angularjs.org/1.5.2/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascript/app.js"></script>
  <script src="javascript/instagram/factory.js"></script>
  <script src="javascript/instagram/controller.js"></script>
</body>
</html>