body {
    background-color: #e8e8e8;
    padding-top: 2%;
}

header {
    font-size: 4em;
    text-align: center;
}

.thumb {
	margin-bottom: 2%;
}

.thumbnail {
    background-color: #fff;
    height: 30.5em;
}

.error-message {
    color: red;
    font-size: 14px;
}

.profile_pic {
    width: 30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}